.skill-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.skill-item {
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 3px;
  min-width: 150px;
  width: fit-content;
}

.icon-img {
  width: 50px;
}
@media only screen and (min-width: 1024px) {
  .skill-item h5 {
    font-size: 16px;
  } 
}
